{% load static %}
span.lang-switch
  a(href="change-lang-fr") FR
  | |
  a(href="change-lang-en").active EN
button.navbar-switch(onclick="$('.navbar-wrapper').toggleClass('hidden'); $('.navbar-switch').toggleClass('switched')", style='position: fixed;top: 5px;z-index: 10000;')
  | +
.navbar-wrapper.hidden
  ul.navbar
    li
      form(action="{% url 'search' %}", method="get")
        input(name="q" 
        placeholder="Search...", 
        autocomplete="off"
        onfocus="$('.navbar-wrapper').addClass('search-opened')" 
        onblur="$('.navbar-wrapper').removeClass('search-opened')"
        )
        input(type="submit", 
        value="GO" 
        onfocus="$('.navbar-wrapper').addClass('search-opened')" 
        onblur="$('.navbar-wrapper').removeClass('search-opened')"
        )
    li #[a.hover-u(href="{% url 'home' %}") Home]
    li #[a.hover-u(href="{% url 'music' %}") Music]
    li #[a.hover-u(href="{% url 'graphism' %}") Graphism]
    li #[a.hover-u(href="{% url 'about' %}") About]
    li #[a.hover-u(href="{% url 'contact' %}") Contact]