{% extends 'base.pug' %}
{% block title %} {{page_title}} {% endblock title %}
{% load static i18n %}
{% block content %}

mixin item
    li.item
      a(href="{% url 'track' title=collection.slug %}").image(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}');'", alt="#{collection.title} cover art")
        .image(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}')")

.main-content
  h1
    span#typedTitleSource
      p {% trans "My music" %}
    span#typedTitle
  
  h2 {% blocktrans with title=latest.title kind=latet.get_kind_display %} The latest: "{{title}}" {{kind}} {% endblocktrans %}
  a(href="{% url 'track_latest' %}")
    .cover.fullsize(style="background-image:url('{% static 'music/images/wide/'|add:latest.slug|add:'.jpg' %}');")
  .sep

  h2#tracks {% trans "Everything" %}
  p.sortby-header {% trans "Sort by:" %}
  ul.links-array.sortby-options.seps
    for option in sort_options
      li
        span.sep
        if sort != option.0
          a.underline(href="{% url 'music' sort=option.0 %}#tracks")
            =option.1
        else
          =option.1

  if sort == 'kinds'
    h3 {% trans "Albums" %}
    ul.grid
      for collection in collections.AB
        +item
    h3 {% trans "EPs" %}
    ul.grid
      for collection in collections.EP
        +item
    h3 {% trans "Singles" %}
    ul.grid
      for collection in collections.SG
        +item
  else
    ul.grid
      for collection in collections
        +item
      

{% endblock content %}