-extends 'base.pug' 
-load i18n static 
-block title
    | #{page_title}
-block header_mobile_title
    | #{collection.title}
-block header_title
    | #{collection.title}
-block body_classes
    | listen fixURLs
-block header_description
    if collection.tracks|length > 1
        -blocktrans with trackscount=collection.tracks|length kind=collection.get_kind_display
            | {{trackscount}}-tracks {{kind}}
    else
        | #{collection.get_kind_display|title}
    br/
    -blocktrans with date=collection.date|date:"SHORT_DATE_FORMAT"
        | released {{date}}

-block header_image
    -static 'music/images/wide/'|add:collection.slug|add:'.png'
-block header_image2
    -static 'music/images/wide/'|add:collection.slug|add:'.jpg'
{% block content %}

.popup.share
    h2: -trans "Share "

    ul.btn-array.quad.white-icons.big
        li.facebook
            a(href="", title='Share on Facebook', target='_blank')
                i.zmdi.zmdi-facebook
                span.hover-u: -trans "Share on Facebook"
        li.twitter
            a(href='', target='_blank', title='Tweet')
                i.zmdi.zmdi-twitter
                {# Translators: tweet verb #}
                span.hover-u: -trans "Tweet"
        li.reddit
            a(href='', target='_blank', title='Submit to Reddit')
                i.zmdi.zmdi-reddit
                span.hover-u: -trans "Submit to Reddit"
        li.email
            a(href='', target='_blank', title='Send email')
                i.zmdi.zmdi-email
                span.hover-u: -trans "Send email"

    a.popup-close-btn(onclick="closeSharePopup()").fw100
        | +
.darkened-bg

.mobile-cover.cover(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.png' %}'), url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}');")

-autoescape off
    if collection.description_fr and collection.description_en
        p.description
            span.text!=collection.description_html
            span.ending
                |  ////
    else
        p.description
            span.text 


if collection.tracks|length > 1
    .listen.multi
        .cover(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.png' %}'), url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}');")
        .contents
            a.play.btn-highlight.nodefault(onclick="loadTrack(1)")
                -blocktrans with kind=collection.get_kind_display|lower 
                    | play the {{kind}}
            ul.tracklist
                for track in collection.tracks
                    li(class={playing: track.slug == play_track.slug})
                        //-span.play-indicator: i.zmdi.zmdi-play.zmdi-hc-lg 
                        a.title.nodefault(onclick="loadTrack(#{track.track_number})").nodefault.title
                            span.tracknum #{track.track_number_display}. 
                            span.tracktitle #{track.title}
                        span.duration=track.duration_display
                        a.action.nodefault.noAJAX(href="{% static 'music/audio/'|add:track.collection.slug|add:'/'|add:track.slug|add:'.mp3' %}" download="{{track.artist}} – {{track.title}}.mp3" title="{% trans 'Download this track' %}")
                            -autoescape off
                                .icon!=icons.download_track

                        a.action.nodefault(onclick="shareTrack('{{track.slug}}')" title="{% trans 'Share this track' %}")
                            -autoescape off
                                .icon!=icons.share_track


else
    p: a(onclick="loadTrack(1)").play.btn-highlight.nodefault: -trans "play"
    .listen.single 
        .cover(style="background-image:url('{% static 'music/images/wide/'|add:collection.slug|add:'.png' %}'), url('{% static 'music/images/wide/'|add:collection.slug|add:'.jpg' %}');")

.actions
    ul.actions-content
        li.download
            h3.text: -trans "download"
            -autoescape off
                .icon!=icons.download_album

        li.share
            h3.text: -trans "share &lt;3"
            -autoescape off
                .icon!=icons.share_album

        li.artwork
            h3.text: -trans "artworks"
            -autoescape off
                .icon!=icons.see_artworks

        if collection.playlist_url
            li.videos
                h3.text: -trans "videos"
                -autoescape off
                    .icon!=icons.see_videos

    
style.
    :root {
        --cover-accent: {{ collection.accent_color|upper }};
        --cover-accent-transparent: {{ collection.accent_color|upper }}AA;
        --cover-accent-really-transparent: {{ collection.accent_color|upper }}55;
    }

script.
    fixURL = () => {
        if (!window.location.pathname.startsWith('/listen/')) {
            history.pushState(history.state, document.title, "{% url 'track' title=collection.slug %}")
        }
    }

    PLAYER_TRACKLIST = [
        {% for track in tracks %}
        {
            title: "{{track.title}}",
            artist: "{{track.artist}}",
            slug: "{{track.slug}}",
            collection_title: "{{track.collection.title}}",
            collection_slug: "{{track.collection.slug}}",
            colletcion_kind: "{{track.colletcion.kind}}",
            cover_accent: "{{collection.accent_color|upper}}",
            duration: "{{track.duration_display|safe|cut:'"'}}",
            year: "{{track.collection.date|date:'Y'}}"
        },
        {% endfor %}
    ]


br
br
br
br
br
br
br
br
br
br
{% endblock content %}