{% extends 'base.pug' %}
{% load static i18n %}
{% load humanize %}
{% block title %} {{page_title}} {% endblock title %}
{% block site_bg %}music/images/wide/{{collection.slug}}.png{% endblock site_bg %}
{% block site_bg_lowres %}music/images/wide/{{collection.slug}}.jpg{% endblock site_bg_lowres %}
{% block site_bg_classes %}cover-is-{{collection.get_cover_color_display|lower}}{% endblock site_bg_classes %}
{% block content %}

mixin track-list-item
    span.title
        if track.artist != 'Mx3'
            =track.artist
            |  &ndash; 
        =track.title

    a(
        href="{% static 'music/audio/'|add:collection.slug|add:'/'|add:track.slug|add:'.mp3' %}" download="{{track.artist}} - {{track.title}}.mp3"
        title='{% trans "Download this track" %}'
    )
        span.icon.small.download.onhover
    a(
        onclick="openSharePopup('track', title='#{track.title}', artist='#{track.artist}', slug='#{track.slug}')"
        title='{% trans "Share this track" %}'
    )
        span.icon.small.share.onhover

    span.duration
        =track.duration_display

if play_track
    .track-progress

.popup.share
    h2 {% trans "Share " %}

    ul.btn-array.quad.white-icons.big
        li.facebook
            a(href="", title='Share on Facebook', target='_blank')
                i.zmdi.zmdi-facebook
                span.hover-u {% trans "Share on Facebook" %}
        li.twitter
            a(href='', target='_blank', title='Tweet')
                i.zmdi.zmdi-twitter
                {# Translators: tweet verb #}
                span.hover-u {% trans "Tweet" %}
        li.reddit
            a(href='', target='_blank', title='Submit to Reddit')
                i.zmdi.zmdi-reddit
                span.hover-u {% trans "Submit to Reddit" %}
        li.email
            a(href='', target='_blank', title='Send email')
                i.zmdi.zmdi-email
                span.hover-u {% trans "Send email" %}

    a.popup-close-btn(onclick="closeSharePopup()").fw100
        | +

.darkened-bg

.main-content
    h1
        span#typedTitleSource
            p= collection.title
        span#typedTitle
    
    p.details
        if tracks_count >= 2
            =tracks_count
            |  tracks &mdash;
        =collection.duration_display
        |  &mdash; 
        =collection.get_kind_display
        |  &mdash; 
        =collection.date|date:'SHORT_DATE_FORMAT'
        |  ({% blocktrans with date=collection.date|timesince %} {{date}} ago {% endblocktrans %})
    
    p.description=collection.description
    .sep
    
    if tracks_count >= 2
        .group
            .left
                .square-img(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.png' %}'), url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}')")
            .right
                ol.tracks
                    for track in tracks
                        if track.slug == play_track.slug
                            li.active
                                a.track-link(onclick="playpause()")
                                    i.icon.pause.small
                                +track-list-item
                        else
                            li
                                a(href="{% url 'track' title=collection.slug play=track.slug %}").track-link
                                    i.icon.play.small
                                +track-list-item
                                
    else
        .wide-img(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.png' %}'), url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}')")
        //- a(href="{% url 'track' title=collection.slug play=tracks.first.slug %}")
            
                //- if tracks.first.slug == play_track.slug
                //-     i.zmdi.zmdi-pause.central-btn
                //- else
                //-     i.zmdi.zmdi-play.central-btn
    .sep

    ul.btn-array(class="#{btn_array_class}")
        li
            a(href="{% static 'music/audio/'|add:collection.slug|add:'.zip' %}" download="{{collection.title}} - {{collection.get_kind_display}} by Mx3")
                i.icon.large.download 
                span {% trans "Download" %}

        li
            a(onclick="openSharePopup('collection')")
                i.icon.large.share 
                span {% trans "Share" %}

        li
            a(href="{% url 'cover_art' title=collection.slug %}")
                i.icon.large.image 
                span {% trans "Download artwork" %}

        if collection.playlist_url
            li
                a(href="{{ collection.playlist_url }}" target="_blank")
                    i.icon.large.video
                    span {% trans "See the music videos" %}

    script.
        function openSharePopup(what, title, artist="Mx3", slug=null) {
            if (what == 'collection') {
                title = `"{{collection.title}}" {{collection.get_kind_display}}`
            } else {
                title = `"${title}" {% trans "by" %} ${artist}`
            }

            //WARNING: This will break if we change urls for music.views.music or music.views.track
            share_url = `https://mx3creations.com/listen/{{collection.slug}}`
            if (what=='track') {
                share_url += `/${slug}`
            }

            share_title = `{% trans "Listen to" %} ${title}`
            share_message = `{% trans "Listen to" %} ${share_title} {% trans "at" %} <a href="${share_url}">${share_url}</a>`

            if (navigator.share) {
                navigator.share({
                    title: share_title,
                    url: share_url,
                    text:share_message,
                }).then(() => {
                    console.log("Thanks for sharing !")
                }).catch(console.error)
            } else {
                closeNav()
                popup = document.querySelector('.popup.share')

                popup.querySelector('h2').innerText = '{% trans "Share" %} '+title
                popup.querySelector('li.facebook a').setAttribute('href', `https://www.facebook.com/sharer/sharer.php?u=${share_url}&quote=${share_title}`)
                popup.querySelector('li.twitter a') .setAttribute('href', `https://twitter.com/intent/tweet?source=${share_url}&text=${share_title}:%20${share_url}&via=mx3_fr`)
                popup.querySelector('li.reddit a')  .setAttribute('href', `http://www.reddit.com/submit?url=${share_url}&title=${share_title}`)
                popup.querySelector('li.email a')   .setAttribute('href', `mailto:?subject=${share_title}&body=${share_message}`)
                popup.classList.add('opened')
            }
        }

        function closeSharePopup() {
            popup = document.querySelector('.popup.share')
            popup.classList.remove('opened')
        }

        //catch escape key to close modal
        $(document).keyup(e => {
            if (e.which == 27 && $('.popup.share').hasClass('opened')) 
                closeSharePopup()
        })

        
{% endblock content %}


// AUDIO PLAYER


{% block playerTrack %}{% if play_track %}{{ play_track.title  }}{%endif%}{% endblock %}
{% block playerTitle %}{% if play_track %}{{ collection.title  }}{%endif%}{% endblock %}
{% block playerArtist %}{% if play_track %}{{ play_track.artist }}{%endif%}{% endblock %}

{% block playerAudioURL %}{% if play_track %}{% static 'music/audio/'|add:collection.slug|add:'/'|add:play_track.slug|add:'.mp3' %}{%endif%}{% endblock %}
{% block playerImageURL %}{% if play_track %}{% static 'music/images/square/'|add:collection.slug|add:'.jpg'%}{%endif%}{% endblock %}
